<div class="bg-cover background-center margin-y-lg" style="background-image: url('{{ 'slider-3.jpg' | asset_url }}'); height: 100%;">
	<div class="container max-width-xl padding-y-xxxl">
		<div class="text-component text-left max-width-xs">
			<h1 class="color-white">Postanite saradnik</h1>
			<p class="color-white margin-bottom-xxs@md text-center text-left@md display@md">Organizovanjem partija zarađujte, družite se i uživajte kao deo TNT Yellow tima.</p>
		</div>

		<a href="" class="btn btn--md btn--primary margin-top-sm">Saznaj vise</a>
	</div>
</div>
