<section class="position-relative">
	<div class="banner container max-width-adaptive-lg overflow-hidden">
		<a href="#0" class="text-decoration-none color-contrast-high" aria-label="Shop Now">
			<div class="grid flex-row-reverse@md">
				<div class="col-6@md overflow-hidden" aria-hidden="true">
					<div class="banner__figure width-100%" style="background-image: url('{{ 'banner.jpg' | asset_url }}');"></div>
				</div>

				<div class="col-6@md">
					<div class="color-white text-component v-space-md height-100% flex flex-column padding-md padding-lg@md">
						<h2 class="color-white">Pretplatite se na naš bilten</h2>
						<p class="">Compellingly streamline turnkey e-commerce after bricks-and-clicks portals. Uniquely utilize interactive core competencies through sticky sources. Enthusiastically grow 2.0 applications via magnetic human.</p>
						<p class="margin-top-sm margin-top-lg@md">
							<span class="banner__link"><i>Shop Now</i></span>
						</p>
					</div>
				</div>
			</div>
		</a>
	</div>
</section>
