<section class="position-relative padding-y-xl bg-primary-darker">
	<div class="container max-width-adaptive-lg">
		<div class="col-12@md">
			<div class="grid gap-md">
				<div class="col-4@md">
					<a href="/pages/osnovni-katalog" class="card-v9 radius-md" aria-labelledby="card-title-1"
						style="background-image: url('{{ 'style.jpg' | asset_url }}');">
						<div class="card-v9__content padding-md">
							<div class="padding-top-xxxl max-width-xxs">
								<p id="card-title-1" class="text-lg color-white">Tupperware katalog 2022</p>
							</div>

							<div class="">
								<span class="btn margin-top-md"><i>Otkrij više</i></span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-4@md">
					<a href="/collections/" class="card-v9 radius-md" aria-labelledby="card-title-1"
						style="background-image: url('{{ 'style-1.jpg' | asset_url }}');">
						<div class="card-v9__content padding-md">
							<div class="padding-top-xxxl max-width-xxs">
								<p class="text-lg color-white">Tupperware online prodavnica<br /></p>
							</div>

							<div class="">
								<span class="btn margin-top-md"><i>Otkrij više</i></span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-4@md">
					<a href="/pages/tupperware-srbija" class="card-v9 radius-md" aria-labelledby="card-title-1"
						style="background-image: url('{{ 'style-2.jpg' | asset_url }}');">
						<div class="card-v9__content padding-md">
							<div class="padding-top-xxxl max-width-xxs">
								<p class="text-lg color-white">Tupperware Srbija - rad sa nama</p>
							</div>

							<div class="">
								<span class="btn margin-top-md"><i>Otkrij više</i></span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>