@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Medium.eot');
    src: url('TupperPRO-Medium.eot?#iefix') format('embedded-opentype'),
        url('TupperPRO-Medium.woff2') format('woff2'),
        url('TupperPRO-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Regular.eot');
    src: url('TupperPRO-Regular.eot?#iefix') format('embedded-opentype'),
        url('TupperPRO-Regular.woff2') format('woff2'),
        url('TupperPRO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Light.eot');
    src: url('TupperPRO-Light.eot?#iefix') format('embedded-opentype'),
        url('TupperPRO-Light.woff2') format('woff2'),
        url('TupperPRO-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TupperPRO';
    src: url('TupperPRO-Bold.eot');
    src: url('TupperPRO-Bold.eot?#iefix') format('embedded-opentype'),
        url('TupperPRO-Bold.woff2') format('woff2'),
        url('TupperPRO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

