/* -------------------------------- 

File#: _3_carousel-v2
Title: Carousel v2
Descr: Display a list of items and navigate through them
Usage: codyhouse.co/license

-------------------------------- */
.carousel-v2 {
  --carousel-grid-gap: var(--space-xxxs);
  --carousel-item-auto-size: 320px;
  --carousel-transition-duration: 0.5s;
}
.carousel-v2 .carousel__wrapper:hover .carousel-v2__control {
  opacity: 1;
}

.carousel-v2__control {
  --size: 60px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  pointer-events: auto;
  cursor: pointer;
  margin: 0 var(--space-xxs);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.carousel-v2__control:hover {
  background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.9);
}
.carousel-v2__control[disabled] {
  display: none;
}
.carousel-v2__control:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.carousel-v2__control .icon {
  --size: 20px;
  display: block;
  color: var(--color-white);
}
@media (min-width: 64rem) {
  .carousel-v2__control {
    opacity: 0;
  }
}

.carousel-v2__navigation {
  display: none;
  grid-template-columns: repeat(auto-fit, 52px);
  grid-gap: var(--space-xs);
  justify-content: center;
  align-items: center;
  margin-top: var(--space-sm);
}

@media (min-width: 64rem) {
  .carousel-v2__navigation {
    display: grid;
  }
}
.carousel-v2__navigation-item {
  display: inline-block;
  margin: 0 var(--space-xxxs);
}
@supports (grid-area: auto) {
  .carousel-v2__navigation-item {
    margin: 0;
  }
}
.carousel-v2__navigation-item:not(.carousel-v2__navigation-item--selected) button {
  cursor: pointer;
}
.carousel-v2__navigation-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 24px;
}
.carousel-v2__navigation-item button::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), 0.2);
}
.carousel-v2__navigation-item:not(.carousel-v2__navigation-item--selected) button:hover::before {
  background-color: hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), 0.4);
  transition: 0.2s;
}

.carousel-v2__navigation-item--selected button::before {
  background-color: hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), 1);
}