<div class="container max-width-adaptive-sm padding-top-xl margin-bottom-xxl">
	<article class="article text-component">
		<h1>{{ article.title }}</h1>

		<div>
			{{ article.content }}
		</div>
	</article>
</div>